[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mm6021
[access "refs/for/refs/*"]
	read = group user/mm6021
	push = group user/mm6021
	label-Code-Review = -2..+2 group user/mm6021
	label-Verified = -1..+1 group user/mm6021
	rebase = group user/mm6021
	removeReviewer = group user/mm6021
	submit = group user/mm6021
[access "refs/heads/*"]
	read = group user/mm6021
	create = group user/mm6021
	push = +force group user/mm6021
	pushMerge = group user/mm6021
[access "refs/tags/*"]
	push = group user/mm6021
	push = +force group user/mm6021
